.flexProfile{
   /* text-align: center; */
   background-color: white;
   width: 290px;
   margin-left: 40px;
   margin-top: -500px;
   border-radius: 10px;
   /* height: 1500px; */
   padding-bottom: 100px;
   
   position: sticky;
   top: 0;
}
.img{
    width: 30px;

}

.img img{
    width: 100%;
    border-radius: 50px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile h5, .sy{
    margin-left: 10px;
}
 .sy{
    margin-left: 15px;
}
.pro-center{
    display: flex;
    justify-content: center;
  
}

.info, .sec, .details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 20px;
    width: 250px;
    margin-top: 20px;
}
.info span{
    font-weight: bold;
    font-size: 20px;
}

.sec, .details{
    height: 50px;
}
.sec button{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    border: none;
}
.sec button:hover{
    background-color: purple;
    color: white;
    border: none;
}
.details{
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    
}

h5{
    margin-top: 20px;
    margin-left: 20px;
}

.activity-btn{
    margin-top: 20px;
    margin-left: 40px;
}
